.hero-highlighted-text {
  -webkit-text-stroke: 5px #ffffff;
  -moz-text-stroke: 5px #ffffff;
  -ms-text-stroke: 5px #ffffff;

}

.hero-secondary-highlighted-text {
  -webkit-text-stroke: 3px #ffffff;
  -moz-text-stroke: 3px #ffffff;
  -ms-text-stroke: 3px #ffffff;
}