/* En tu archivo SobreN.css */
.contenedor-imagen {
  width: 1000%;
  max-width: 800
  px; /* Ajusta este valor al tamaño que quieras */
  overflow: hidden;
}

.contenedor-imagen img {
  width: 800%;
  height: auto;
  object-fit: cover;
}

.icono-espacial {
  color: #ffaa00; /* El color dorado de tu botón "En curso" */
  filter: drop-shadow(0 0 8px rgba(255, 170, 0, 0.5));
}
